/* .monaco-editor .margin-view-overlays .line-numbers {
    color: #FFC700!important;
} */

.monaco-editor .margin-view-overlays .active-line-number {
    color: #FFC700!important;
}

.xterm .xterm-viewport {
    background-color: transparent;
    overflow-y: scroll;
    cursor: default;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    scrollbar-color: #1e1e1e;
    scrollbar-width: thin;
  }
  
  .xterm-viewport::-webkit-scrollbar {
    background-color: #1e1e1e!important;
    width: 5px!important;
  }
  
  .xterm-viewport::-webkit-scrollbar-thumb {
    background: #1e1e1e!important;
  }