@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #1e1e1e;
  overflow-x: hidden;
}

:root {
  --brand-color: #f130ee;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}